/* Navbar */

.navbar-nav {
  color: #757575;
  font-weight: 500;
}

.btn-success {
  background-color: #8BAC3E;
  border-radius: 100px;
  font-size: 14px;
}

.logo {
  width: 150px;
  height: 36px;
}

.hot {
  border-radius: 50px;
  margin-top: -5px;
  margin-left: 70px;
  position: absolute;
}
